<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>レッスン中の音声通話でマイクを使用します</string>
	<key>NSCameraUsageDescription</key>
	<string>レッスン中のビデオ通話でカメラを使用します</string>
	<key>SUPABASE_URL</key>
	<string></string>
	<key>SUPABASE_ANON_KEY</key>
	<string></string>
	<key>LIVEKIT_URL</key>
	<string></string>
</dict>
</plist>
